:root {
    --primary-color: #ffcc00;
    --secondary-color: #2e2e2e;
    --background-color: #4e4e4e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#2e2e2e, #4e4e4e);
    color: #ffcc00;
    font-family: 'Georgia', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #353535;
    color: #ffcc00;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    z-index: 900;
    transition: transform 0.3s ease;
}

.header.shrink {
    transform: translateX(300px);
}

.header-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.toggle-sidebar {
    background: none;
    color: #ffcc00;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.sidebar {
    width: 300px;
    background-color: #292929;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    left: 0;
    top: 55px;
    height: calc(100vh - 55px);
    transition: transform 0.3s ease;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-item {
    padding: 10px;
    color: #ffcc00;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 15px;
    font-size: 20px;
}

.sidebar-item:hover {
    background-color: #444444;
}

.main-content {
    display: flex;
    margin-top: 90px;
    flex: 1;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #292929;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    width: 100%;
    max-width: 900px;
}

p, ul {
    width: 800px;
    padding: 10px 50px;
    margin-bottom: 16px;
    background-color: #292929;
    color: #ffffd0;
    border-radius: 15px;
    text-align: justify;
}

a {
    color: #ffffd0;
    text-decoration: none;
}

a:hover {
    color: #ffcc00;
}

.bold-text {
    font-weight: bold;
}

.guess-button {
    background-color: #ffcc00;
    color: #2e2e2e;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    
    margin-top: 10px;
    flex-shrink: 0;
    min-width: 200px;
    min-height: 50px;
}

.guess-button:hover {
    background-color: #ffd700;
}


input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.masked {
    color: #444444;
}

.guess-section {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.guess-section h2 {
    flex: 1;
    margin: 0;
}

/* Стили для мобильных экранов */
@media (max-width: 769px) {

    .toggle-sidebar {
        display: block;
    }

    .main-content {
        margin-left: 0;
    }

    .sidebar {
        width: 70%;
        transform: translateX(-100%);
        margin-top: 15px;
    }

    p, ul {
        width: calc(100% - 20px);
        padding: 10px 15px;
        text-align: left;
    }

    a {
        width: calc(100% - 40px);
        padding: 10px 15px;
    }

    input[type="text"] {
        width: calc(100% - 20px);
    }

    .guess-section {
        flex-direction: column;
        align-items: stretch;
    }

    .guess-section input[type="text"],
    .guess-section button {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .container {
        padding: 10px;
    }

    .header-button {
        background-color: #353535;
        color: #ffcc00;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 24px;
        transition: background-color 0.3s;
        margin-right: 10px;
    }
    
    .header-button:hover {
        color: #ffd700;
    }

    .header-links {
        display: none;
    }
}


/* Hа больших экранах */
@media (min-width: 769px) {
    .sidebar {
         display: none;
     }
 }