<div class="header">
    <button class="toggle-sidebar header-button" onclick="toggleSidebar()">☰</button>
    <h2><a href="/" style="text-decoration: none; color: inherit;">TotMaxim.ru</a></h2>
    <div class="header-links">
        <a href="/" class="sidebar-item">«Быки и коровы»</a>
        <a href="/dev" class="sidebar-item">«DevOps теория»</a>
        <a href="/random" class="sidebar-item">«Случай»</a>
        <a href="/calc" class="sidebar-item">«Калькулятор»</a>
    </div>
</div>
