<div class="sidebar" id="sidebar">
    <a href="/start_game" class="sidebar-item">«Быки и коровы»</a>
    <a href="/dev" class="sidebar-item">«DevOps теория»</a>
    <a href="/occasion" class="sidebar-item">«Случай»</a>
    <a href="/contruct" class="sidebar-item">«Конструктор»</a>
</div>
