<div class="sidebar" id="sidebar">
    <a href="/" class="sidebar-item">«Быки и коровы»</a>
    <a href="/dev" class="sidebar-item">«DevOps теория»</a>
    <a href="/random" class="sidebar-item">«Случай»</a>
    <a href="/calc" class="sidebar-item">«Калькулятор»</a>
</div>
