<!DOCTYPE html>
<html lang="ru">
    <%- include('partials/html_header') %>
<body>

    <%- include('partials/header') %>

    <div class="main-content">

        <%- include('partials/sidebar') %>

        <div class="container">
            <h1>«Быки и коровы»</h1>
            <button onclick="location.href='/start_game'" class="guess-button">Начать игру</button>
            <h1>«Случай»</h1>
            <button onclick="location.href='/random'" class="guess-button">«Случай»</button>
        </div>
    </div>

    <%- include('partials/script_toggle') %>

</body>
</html>
