<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png" type="image/png">
    <title>«Случай»</title>
    <link rel="stylesheet" href="/css/style.sheet.dev.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="main-content"> 
        <div class="sidebar" id="sidebar">
            <a href="/" class="sidebar-item">«« Вернуться</a>
            <a href="/occasion/bdwork" class="sidebar-item">Работа с БД »»</a><br>
            <a href="/start_game" class="sidebar-item">«Быки и коровы»</a>
            <a href="/dev" class="sidebar-item">«DevOps теория»</a>
            <a href="/contruct" class="sidebar-item">«Конструктор»</a>
        </div>

        <div class="blocksidebar" id="blocksidebar">
            <a href="/" class="blocksidebar-item">«« Вернуться</a>
            <a href="/occasion/bdwork" class="blocksidebar-item">Работа с БД »»</a>
            </div>
        </div>

        <div class="container">
            <div class="split-container">
                <div class="text-container" id="textContainer">
                    <p>
                        Нажмите на число, чтобы получить текст из API.
                    </p>
                </div>
                <div class="grid-container">
                    <div class="grid">
                        <% for (let i = 0; i <= 99; i++) { %>
                            <div class="grid-item" onclick="handleClick('<%= i %>')" style="cursor: pointer;">
                                <%= i %>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        function handleClick(number) {
            const items = document.querySelectorAll('.grid-item');
            items.forEach(item => item.classList.remove('active'));
            
            document.querySelector(`.grid-item:nth-child(${parseInt(number) + 1})`).classList.add('active');

            fetch(`/api/occasion/${number}`)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('textContainer').innerHTML = `<p>${data}</p>`;
                })
                .catch(error => console.error('Ошибка:', error));
        }
    </script>
    <%- include('partials/script_toggle') %>
</body>
</html>