<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>«Случай»</title>
    <link rel="stylesheet" href="/css/style.sheet.dev.css">
    <!-- <style>
        .sidebar {
            width: 300px;
            background-color: #292929;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            position: fixed;
            left: 0;
            top: 55px;
            height: calc(100vh - 55px);
            transition: transform 0.3s ease;
            display: block;
        }

        .sidebar-item {
            padding: 10px;
            color: #ffcc00;
            text-decoration: none;
            transition: background-color 0.3s;
            border-radius: 15px;
            font-size: 20px;
        }
    </style> -->
</head>
<body>
    <%- include('partials/header') %>

    <div class="main-content"> 
        <div class="sidebar" id="sidebar">
            <a href="/" class="sidebar-item">Вернуться</a>
            <a href="/random/bdwork" class="sidebar-item">Работа с БД</a>
            </div>
        </div>

        <div class="container">
            <div class="split-container">
                <div class="text-container" id="textContainer">
                    <p>
                        Нажмите на число, чтобы получить текст из API.
                    </p>
                </div>
                <div class="grid-container">
                    <div class="grid">
                        <% for (let i = 0; i <= 99; i++) { %>
                            <div class="grid-item" onclick="handleClick('<%= i %>')" style="cursor: pointer;">
                                <%= i %>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        function handleClick(number) {
            const items = document.querySelectorAll('.grid-item');
            items.forEach(item => item.classList.remove('active'));
            
            document.querySelector(`.grid-item:nth-child(${parseInt(number) + 1})`).classList.add('active');

            // Отправляем запрос на сервер Node.js
            fetch(`/api/random/${number}`)
                .then(response => response.text())
                .then(data => {
                    // Обновляем текст в textContainer
                    document.getElementById('textContainer').innerHTML = `<p>${data}</p>`;
                })
                .catch(error => console.error('Ошибка:', error));
        }
    </script>
    <%- include('partials/script_toggle') %>
</body>
</html>